@import "colors.css";

* {
    font-family: FontAwesome, JetBrainsMono SemiBold;
    font-size: 13px;
}

window#waybar {
    background: transparent;
    color: @bar_fg;
}

window#waybar > box {
    background: alpha(@bar_bg, 0.72);

    border: 1px solid alpha(@border, 0.65);
    border-radius: 14px;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);

    padding-left: 6px;
    padding-right: 6px;

    transition:
        background 0.3s ease,
        border-color 0.3s ease;
}


window#waybar.hidden {
    opacity: 0.0;
}

window#waybar.termite,
window#waybar.chromium {
    background-color: @bar_bg;
}

window#waybar.chromium {
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @hover_fg;
}

#pulseaudio:hover {
    background-color: @hover_bg;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @workspace_fg;
}

#workspaces button:hover {
    background: @hover_bg;
}

#workspaces button.focused,
#workspaces button.active {
    background-color: @workspace_active_bg;
    color: @workspace_active_fg;
    box-shadow: inset 0 -3px @workspace_active_fg;
}

#workspaces button.urgent {
    background-color: @workspace_urgent_bg;
    color: @workspace_urgent_fg;
}

#mode {
    background-color: @workspace_active_bg;
    color: @workspace_active_fg;
    box-shadow: inset 0 -3px @workspace_active_fg;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
    color: @module_fg;
}

#window,
#workspaces {
    margin: 0 4px;
}

.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    background-color: transparent;
    font-size: large;
}

#battery,
#battery.charging,
#battery.plugged,
#cpu,
#memory,
#disk,
#backlight,
#network,
#pulseaudio,
#temperature {
    background-color: transparent;
    color: @module_fg;
}

@keyframes blink {
    to {
        background-color: transparent;
        color: @error_bg;
    }
}

#battery.critical:not(.charging) {
    background-color: @error_bg;
    color: @error_fg;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: @performance_bg;
    color: @performance_fg;
}

#power-profiles-daemon.balanced {
    background-color: @balanced_bg;
    color: @balanced_fg;
}

#power-profiles-daemon.power-saver {
    background-color: @saver_bg;
    color: @saver_fg;
}

label:focus {
    background-color: @focus_bg;
}

#network.disconnected {
    background-color: transparent;
    outline: @error_bg;
}

#pulseaudio.muted {
    background-color: @muted_bg;
    color: @muted_fg;
}

#wireplumber {
    background-color: @accent_bg;
    color: @accent_fg;
}

#wireplumber.muted {
    background-color: @error_bg;
    color: @error_fg;
}

#custom-media,
#custom-media.custom-spotify,
#mpd {
    background-color: @media_bg;
    color: @media_fg;
}

#custom-media {
    min-width: 100px;
}

#custom-media.custom-vlc {
    background-color: @workspace_active_bg;
    color: @workspace_active_fg;
}

#temperature.critical {
    background-color: @error_bg;
    color: @error_fg;
}

#tray {
    background-color: @accent_bg;
    color: @accent_fg;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @error_bg;
    color: @error_fg;
}

#idle_inhibitor {
    background-color: @tertiary_bg;
    color: @tertiary_fg;
}

#idle_inhibitor.activated {
    background-color: @accent_bg;
    color: @accent_fg;
}

#mpd.disconnected {
    background-color: @error_bg;
    color: @error_fg;
}

#mpd.stopped {
    background-color: @muted_bg;
    color: @muted_fg;
}

#mpd.paused {
    background-color: @workspace_active_bg;
    color: @workspace_active_fg;
}

#language,
#keyboard-state {
    background: @accent_bg;
    color: @accent_fg;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    padding: 0;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked,
#scratchpad {
    background: @hover_bg;
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @module_fg;
}

#privacy-item.screenshare,
#privacy-item.audio-in,
#privacy-item.audio-out {
    background-color: @accent_bg;
    color: @accent_fg;
}

#custom-archlogo {
    color: @module_fg;
    font-size: 20px;
}


/* ===== TODO POPUP MODULE ===== */

#custom-todo {
    padding: 0 9px;
    color: @module_fg;
    font-size: 16px;
    border-radius: 8px;
}

#custom-todo:hover {
    background-color: @hover_bg;
    color: @hover_fg;
}

/* ===== END TODO POPUP MODULE ===== */
